[Unit]
Description=BerryBMS Dash Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=ludovic
ExecStart=/bin/bash -c 'cd /home/ludovic/berrybms/ && source venv/bin/activate && python berrybms/berrydash.py'

[Install]
WantedBy=multi-user.target